langchain
pinecone-client
langgraph
mcp
huggingface-hub
python-dotenv
langgraph	
langchain-mcp-adapters	
fastmcp	
langchain-groq	
python-dotenv
mcp-use
openai 
langchain 
langchain-huggingface 
  pinecone-client 
  langchain-pinecone 
  sentence-transformers 
  pypdf